.idea/
.idea/encodings.xml
.idea/Lab8.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
hello.pyc
taichi.pyc
wipe.pyc
pynaoqi/
pynaoqi/allog.py
pynaoqi/_allog.so
pynaoqi/almath.py
pynaoqi/almathswig.py
pynaoqi/_almathswig.so
pynaoqi/engines
pynaoqi/inaoqi.py
pynaoqi/_inaoqi.so
pynaoqi/libalbehavior.so
pynaoqi/libalcommon.so
pynaoqi/libalerror.so
pynaoqi/libalmath.so
pynaoqi/libalproxies.so
pynaoqi/libalpythontools.so
pynaoqi/libalsoap.so
pynaoqi/libalthread.so
pynaoqi/libalvalue.so
pynaoqi/libboost_atomic.so
pynaoqi/libboost_chrono.so
pynaoqi/libboost_context.so
pynaoqi/libboost_coroutine.so
pynaoqi/libboost_date_time.so
pynaoqi/libboost_filesystem.so
pynaoqi/libboost_graph.so
pynaoqi/libboost_locale.so
pynaoqi/libboost_log_setup.so
pynaoqi/libboost_log.so
pynaoqi/libboost_math_c99f.so
pynaoqi/libboost_math_c99l.so
pynaoqi/libboost_math_c99.so
pynaoqi/libboost_math_tr1f.so
pynaoqi/libboost_math_tr1l.so
pynaoqi/libboost_math_tr1.so
pynaoqi/libboost_prg_exec_monitor.so
pynaoqi/libboost_program_options.so
pynaoqi/libboost_python.so
pynaoqi/libboost_random.so
pynaoqi/libboost_regex.so
pynaoqi/libboost_serialization.so
pynaoqi/libboost_signals.so
pynaoqi/libboost_system.so
pynaoqi/libboost_thread.so
pynaoqi/libboost_timer.so
pynaoqi/libboost_unit_test_framework.so
pynaoqi/libboost_wave.so
pynaoqi/libboost_wserialization.so
pynaoqi/libcrypto.so
pynaoqi/libcrypto.so.1.0.0
pynaoqi/libgtest_main.so
pynaoqi/libgtest.so
pynaoqi/libqic.so
pynaoqi/libqimessaging.so
pynaoqi/libqipython.so
pynaoqi/libqi.so
pynaoqi/libqitype.so
pynaoqi/librttools.so
pynaoqi/libssl.so
pynaoqi/libssl.so.1.0.0
pynaoqi/libtinyxml.so
pynaoqi/motion.py
pynaoqi/naoqi.py
pynaoqi/qi
pynaoqi/_qi.so
pynaoqi/share
pynaoqi/vision_definitions.py
